<ion-header>
  <ion-navbar>
   
    <ion-title>
      Receipt List
    </ion-title>

    <ion-buttons start>
      <button ion-button icon-only >
        <ion-icon name="ios-cloud"></ion-icon>
      </button>
    </ion-buttons>

    <ion-buttons end>
      <button ion-button icon-only (click)="doScan()">
        <ion-icon name="qr-scanner"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>

</ion-header>

<ion-content padding>

  <ion-list *ngIf="receipts">
    <ion-item *ngFor="let receipt of receipts" (click)="viewReceipt(receipt)">
      <ion-icon name='checkmark' color="secondary" item-start></ion-icon>
      <h2>{{ receipt.invoiceNumber }}</h2>
      <h3>{{ receipt.invoiceDate }}</h3>
      <h2 item-end>
        {{ receipt.totalAmount }} 元
      </h2>
    </ion-item>
  </ion-list>


</ion-content>
